matplotlib >= 3.0.3
numpy >= 1.16.2
pandas >= 0.24.2
pytecplot >= 0.10.4
scipy >= 1.2.1
sentry-sdk>=0.7.14
tabulate >= 0.8.3
tqdm >= 4.14.0
mpi4py >= 3.0.3
opencv-python >= 4.5.5.64
cryptography >= 36.0.1
sympy >= 1.9
Sphinx >= 4.4.0